.Tag {
  padding: 4px 12px;
  border-radius: 40px;

  &.yellow {
    border: 1px solid $yellow;
    background-color: $light-yellow;
    color: $yellow;
  }

  &.red {
    border: 1px solid $red;
    background-color: $light-red;
    color: $red;
  }

  &.blue {
    border: 1px solid $blue;
    background-color: $light-blue;
    color: $blue;
  }

  &.green {
    border: 1px solid $green;
    background-color: $light-green;
    color: $green;
  }

  &.purple {
    border: 1px solid $purple;
    background-color: $light-purple;
    color: $purple;
  }
}
