//Colors
$background: #fbfbfb;
$white: #fff;
$black: #000;
$light-yellow: #fcf2c9;
$yellow: #ffcc00;
$light-blue: #99c6e4;
$blue: #0071bb;
$light-red: #f3aca0;
$red: #e65a41;
$light-green: #c8e78a;
$green: #7da52e;
$light-purple: #d9d3ed;
$purple: #826dc1;

//Breakpoints
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1920px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1919px;
$max-xxl: 2559px;
